@import "../../variables";

// TODO - review

h1 {
  margin-top: 0;
}

.primary-bg {
  background-color: $primary-color;
}

.rgba-background {
  background-color: rgba(255, 255, 255, 0.85);
}

.card > .p-menubar {
  margin: 0;
  background-color: $primary-color;
  border: none;
  color: white;
}

.p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  background-color: $primary-color;
}

.p-menubar-root-list {
  background-color: $primary-color;
}

.p-menubar .p-menuitem-link {
  color: #fff;
  padding: 8px;
}

.p-menuitem-link > * {
  color: #fff;
}

.p-menubar-button {
  color: #fff;
  border: 1px solid #fff;
}
.p-menuitem-text,
.p-menuitem-icon {
  font-size: 1.2rem;
}

.p-menuitem {
  background-color: $primary-color;
}
.p-menuitem-content {
  white-space: nowrap;
}

.p-menuitem-content:hover,
.p-menuitem-content:active {
  background-color: $primary-color;
}

.p-submenu-list {
  min-width: fit-content;
}
.p-submenu-list a {
  background-color: #fff;
  .p-menuitem-icon,
  .p-menuitem-text {
    color: $text-color;
  }
}

.p-submenu-list a:hover {
  background-color: $primary-color;
  .p-menuitem-icon,
  .p-menuitem-text {
    color: #fff;
  }
}

.p-tabview .p-tabview-panels {
  padding: 0;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: rgba(255, 157, 0, 0.805);
}
