@import "variables";

// Global Styles
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  color: $text-color;
  background: url("./assets/tasty-pizza-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.header {
  border-bottom: 1px solid $secondary-color;
  border-top: 1px solid $secondary-color;
  background: $primary-color;
}

.p-progress-spinner-circle {
  stroke: $primary-color !important;
}
