.quill {
  height: 10rem !important;
}
.text-editor .dark button:hover {
  color: #ccc;
  background-color: #ccc !important;
}

.dark .ql-toolbar {
  background-color: #fff;
  padding: 8px;
}

div.ql-editor {
  background-color: #fff;
}
